
.white {
	color:#fff
}
.table>thead>tr>th {
	text-transform: uppercase !important;
}
.modal-body h1 {
	margin:0 0 20px 0;
}
.modal-body p.text-uppercase {
	margin-bottom: 0
}
.alert {
	padding:8px 10px;
}
.view-leave-status label {
	width:120px;
}
.view-leave-status .form-group {
	margin-bottom:10px;
}
.navbar-header.admin-portal {
    background: #1169bb;
}
li.switcher span {
	font-size:12px;
}
#side-menu > li > a.active {
    background: transparent !important;
    color: #97999f !important;
    font-weight: 300 !important;
}
.modal .panel .panel-heading {
    padding: 10px 15px;
        font-weight: 300;
}
.modal .panel {
	margin-bottom:5px;
}
.modal .panel-body {
	background:#e7e7e7;
	padding:15px !important;
}
.modal .panel-body .checkbox:first-child {
	margin-top:0;
}
.modal .panel-body .checkbox:last-child {
	margin-bottom:0;
}
.profile-photo {
	border-radius: 50%;
	border:3px solid #e7e7e7;
	width:200px;
	max-width: 100%
}
.searchtable {
	border-radius:30px !important;
}
.claim-amount .amount {
    font-size: 18px;
    font-weight: 300;
}
.claim-amount th {
	vertical-align: middle !important
}
.alert-dismissable .close, .alert-dismissible .close {
	right: 0px;
}
blockquote {
	font-size:14px !important;
}
.table .checkbox {
	margin:0;}
.table th.hasCheck {
    padding-top: 15px;
    padding-bottom: 8px;
}
.payment-form p {
	font-weight: 300
}
img#company_image_edit {
    background: #f1f1f1;
    padding: 11px;
    border: 1px solid #ddd;
    width: 180px;
    max-width: 100%;
}
@media screen and (min-width: 768px) {
.modal-dialog {
	width:730px;
}
.modal-body {
	padding:25px;
}
}
@media screen and (max-width: 767px) {
.row.form-group [class*=col] {
	margin-bottom:20px;
}
.row.form-group {
	margin-bottom: 0
}
.modal-body {
	padding:20px;
}
}

.disabled-date { color : red !important;}
